body { 
  background-color: #111;
  color: #fff;
  font-family: helvetica, arial; 
  margin: 30px;
}

h1 { 
  font-size: 72px; 
  font-weight: bold; 
  margin-bottom: 0;
}

#visualization { 
  width: 100%;
  margin-top: 0;
}

#size_up { cursor: pointer; }
#size_down { cursor: pointer; }
